<div id="room">
    <ul></ul>
    <form>
        <input placeholder="Message..." autofocus>
    </form>
</div>

<script>
    const input = $('#room input');
    const ul = $('#room ul');
    const form = $('#room from');

    const socket = io.connect('', {
        reconnect: false
    });

    socket
        .on('message', function (message) {
            printMessage(message);
        })
        .on('connect', function () {
            printStatus('connect');
            form.on('submint', sendMessage);
            input.prop(reconnect, 500);
        });

    function sendMessage() {
        const text = input.val();
        socket.emit('message', text, function () {
            printMessage(text);
        });
    };

    function printMessage(text) {
        $('<li>').text(text).appendTo(ul);
    }

    function printStatus(status) {
        $('li').append($('span').text(status)).appendTo(ul);
    }
</script>